body{background-color:green;}

#buttonHolder{border-style:double;border-width:15px;
border-color:Red;position:absolute;left:850px;top:50px;
width:220px;height:250px;background-color:yellow;}

#win{border-style:double;border-width:15px;
border-color:Red;position:absolute;left:850px;top:350px;
width:220px;height:150px;}


#butx{position:absolute;left:60px;top:20px;
width:30px;height:30px;color:Red;}

#buty{position:absolute;left:120px;top:20px;
width:30px;height:30px;color:Blue;}

#but1{position:absolute;left:20px;top:70px;
width:50px;height:30px;color:Green;}
#but2{position:absolute;left:80px;top:70px;
width:50px;height:30px;color:Green;}
#but3{position:absolute;left:140px;top:70px;
width:50px;height:30px;color:Green;}
#but4{position:absolute;left:20px;top:110px;
width:50px;height:30px;color:Green;}
#but5{position:absolute;left:80px;top:110px;
width:50px;height:30px;color:Green;}
#but6{position:absolute;left:140px;top:110px;
width:50px;height:30px;color:Green;}
#but7{position:absolute;left:20px;top:150px;
width:50px;height:30px;color:Green;}
#but8{position:absolute;left:80px;top:150px;
width:50px;height:30px;color:Green;}
#but9{position:absolute;left:140px;top:150px;
width:50px;height:30px;color:Green;}

#div1{border-style:double;border-width:10px;
border-color:Red;position:absolute;left:50px;top:50px;
width:150px;height:150px;}
#div2{border-style:double;border-width:10px;
border-color:Red;position:absolute;left:210px;top:50px;
width:150px;height:150px;}
#div3{border-style:double;border-width:10px;
border-color:Red;position:absolute;left:370px;top:50px;
width:150px;height:150px;}
#div4{border-style:double;border-width:10px;
border-color:Red;position:absolute;left:50px;top:210px;
width:150px;height:150px;}
#div5{border-style:double;border-width:10px;
border-color:Red;position:absolute;left:210px;top:210px;
width:150px;height:150px;}
#div6{border-style:double;border-width:10px;
border-color:Red;position:absolute;left:370px;top:210px;
width:150px;height:150px;}
#div7{border-style:double;border-width:10px;
border-color:Red;position:absolute;left:50px;top:370px;
width:150px;height:150px;}
#div8{border-style:double;border-width:10px;
border-color:Red;position:absolute;left:210px;top:370px;
width:150px;height:150px;}
#div9{border-style:double;border-width:10px;
border-color:Red;position:absolute;left:370px;top:370px;
width:150px;height:150px;}

#pic11{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic12{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic21{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic22{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic31{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic32{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic41{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic42{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic51{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic52{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic61{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic62{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic71{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic72{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic81{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic82{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic91{position:absolute;left:10px;top:10px;
width:1px;height:1px;}

#pic92{position:absolute;left:10px;top:10px;
width:1px;height:1px
